<div class="medium-6 large-6 columns padded-column">

  <div class="post story <%= "draft" if post.draft? %>">
        <%= link_to post do %>
    <div class="post-content">
      <div class="small-12 title">
        <em class="user-name"><%= post.user && post.user.email.split("@")[0] %></em>
        <strong class="post-title"><%= post.title %></strong>
          <% if post.published? %>
            <em class="date-created"><%= post.published_on.strftime("%h %e")  %></em>
          <% else  %>
            <em class="date-created"><%= post.created_at.strftime("%h %e")  %></em>
          <% end  %>
      </div>
      <div class="body">
          <div>
            <%= post.body  %>
        </div>
      </div>
    </div>
        <% end %>
  </div>

</div>
