<div class="small-12 medium-8 large-5 columns small-centered">
  
<%= form_for @prompt do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.text_field :action %>
  <%= f.submit  %>
<% end %>

</div>
