
<div class="small-12 medium-8 large-5 small-centered text-center columns">
  <h2>Log in</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="small-12 medium-8 large-5 small-centered text-center columns">
  <%= f.email_field :email, autofocus: true %></div>

<div class="small-12 medium-8 large-5 small-centered text-center columns">
  <%= f.password_field :password, autocomplete: "off" %></div>

<% if devise_mapping.rememberable? -%>
  <div class="small-12 medium-8 large-5 small-centered text-center checkbox columns">
<%= f.check_box :remember_me %></div>
  <% end -%>

<div class="small-12 medium-8 large-5 small-centered text-center columns"><%= f.submit "Log in" %></div>
<% end %>
<div class="small-12 medium-8 large-5 small-centered text-center columns">
  <%= render "devise/shared/links" %>
</div>

