<h2>Set up your account</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <div class="small-12 medium-8 large-5 small-centered text-center columns">
  <%= f.text_field :first_name, autofocus: true %></div>

  <div class="small-12 medium-8 large-5 small-centered text-center columns">
  <%= f.text_field :last_name, autofocus: true %></div>


  <div class="small-12 medium-8 large-5 small-centered text-center columns"><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="small-12 medium-8 large-5 small-centered text-center columns">
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <p><%= f.submit t("devise.invitations.edit.submit_button") %></p>
<% end %>
