<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Proser" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <%# <%= render :partial => 'layouts/nav_bar' %>
    <div id="site-wrapper" class="stay">

      <div id="site-canvas" class="stay">

        <div id="site-menu">
          <div class="opts-container">
            
            <ul class="options-sheet">
              <li>
                <%= link_to 'EDIT PROFILE', edit_user_registration_path%> 
              </li>
              <li>
                <%= link_to "LOGOUT", destroy_user_session_path, method: :delete%>
              </li>
            </ul>

          </div>
        </div>

        <div  class="centered top-stick sticky">
          <h1 class="left-off-canvas-toggle main-header noselect" data-transition="ease" ><%= content_for?(:header) ? yield(:header).upcase : "PROSER" %><span class="lines-1 lines">—</span><span class="lines">—</span><span class="lines">—</span></h1>
          <dl class="sub-nav noselect">
            <dd ><%= link_to "Home", root_path, class: ""  %></dd>
            <dd ><%= link_to "Desk", desk_path %></dd>
          </dl>
          <%= render :partial => 'layouts/tool_bar' %>
        </div>

        <%= yield %>
        <%= javascript_include_tag "application" %>


      </div>
    </div>

  </body>
</html>
